<%= form_for @movie do |f| %>
  <div class="form-group">
    <label for="movie_title">Title</label>
    <div>
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="form-group">
    <label for="movie_description">Description</label>
    <div>
      <%= f.text_area :description %>
    </div>
  </div>
  <%= f.submit "Create" %>
<% end %>
<style>
.form-group label {width: 20% }
</style>
