<h1><%= @movie.title %> </h1>
<%= @movie.description %>

<div id='ember-rails-app'>
</div>

<script>
  window.movie_rating = {
    id: '<%= @rating.id %>',
    movie_id: '<%= @movie.id %>'
  };
</script>
